body{
    height: 800px;
}

.container{
    background: #F1F1F1;
    border: solid black 1px;
}

.card{
position: absolute;
padding: 15px;
width: 1035px;
/* height: 419px; */
left: 210px;
top: 140px;
background: #FFFFFF;
border: 2px solid #646363;
box-sizing: border-box;
border-radius: 5px;
}

.logo{
    width: 170px !important;
    height: 75px !important;
}

.divWarning{
    /* position: absolute; */
    width: 112px;
    height: 24px;
    left: 240px;
    top: 333px;
    background: linear-gradient(180deg, #FF9900 0%, #FF9900 100%);
    /* opacity: 0.1; */
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
}

.invoice{
width: 137.23px;
height: 137.88px;
left: 1177.56px;
top: 246px;
/* transform: matrix(0.01, 1, -1, 0.01, 0, 0); */
}

.title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
}

p {
    font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
color: #959595;
}

.grey {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B1B1B1;
}