.cardProfile{
    position: relative;
width: 785px;
height: 453px;
left: 328px;
top: 188px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.08);
border-radius: 8px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 30px;
padding-right: 30px;
}

.title{
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 24px;
display: flex;
align-items: center;
color: #050505;
}

.icon{
    /* position: absolute; */
    width: 30px;
    height: 30px;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;
/* background: #8A8C90; */
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 25px;
    height: 90%;
    width: 60%;
}

.divicon{
    position:absolute;
    width: 50px;
    height: 250px;
    margin-top: 50px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center;
}

.divInfo{
    height: 260px;
    padding-top: 9px;
    box-sizing: border-box;
    margin-top: 25px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    margin-left: 50px;
}
.name{
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
color: #050505;
}
.sub{
    font-family: Avenir;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
color: #8A8C90;
}
.toggle{
    margin-top: 25px;
width: 280px;
height: 50px;
left: 809px;
top: 570px;
color: white;
background: #FFAF00;
border-radius: 5px;
border: none;
}